<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/board/name-list.css}" rel="stylesheet"/>
  <script type="text/javascript" src="/js/board/name-list.js" defer></script>
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
  />
  <title>게시판 목록</title>
</head>
<body>
<div class="modal-create">
  <div class="modal-body-create">
    <div class="create">
      <form id="modifyForm" th:action="@{/boards}" method="post" th:object="${createBoardRequest}">
        <label th:for="newName">게시판의 이름을 입력해주세요.</label><br>
        <textarea th:field="*{newName}" rows="4" cols="50"></textarea><br>
        <button type="submit">생성</button>
        <button type="button" class="cancel-btn">취소</button>
      </form>
    </div>
  </div>
</div>
<header>
  <div class="nav-wapper">
    <button class="nav" onclick="redirectToHome()">
      <span class="material-symbols-outlined"> home </span>
      <span class="word">home</span>
    </button>
    <button class="nav" onclick="redirectToBoard()">
      <span class="material-symbols-outlined"> dashboard </span>
      <a class="word">board</a>
    </button>
    <button class="nav">
      <span class="material-symbols-outlined"> person </span>
      <a class="word">my page</a>
    </button>
  </div>
</header>
<div class="container">
  <div class="header-wapper">
    <h2 class="title">게시판 목록</h2>
    <button class="modify" th:onclick="|location.href='@{/boards/modify-delete}'|">게시판 편집</button>
  </div>

  <div class="board-list-wapper">
    <button class="board" th:each="boardName : ${boardNames}" th:text="${boardName.getName()}"></button>
    <button class="board-plus" id="createBoard">
      <span class="material-symbols-outlined"> add_circle</span>
    </button>
  </div>
</div>
</body>
</html>