<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/post/detail-view.css}" rel="stylesheet"/>
  <script type="text/javascript" src="/js/post/detail-view.js" defer></script>

  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
  />
  <title>게시물 상세 조회</title>
</head>
<body>
<div class="modal-modify">
  <div class="modal-body-modify">
    <div class="modify">
      <form id="modifyForm" method="post" th:object="${modifyPost}">
        <label th:for="newName">수정하고 싶은 게시글 내용을 입력해주세요.</label><br>
        <textarea th:field="*{newName}" rows="4" cols="50"></textarea><br>
        <button type="submit">수정</button>
        <button type="button" class="cancel-btn">취소</button>
      </form>
    </div>
  </div>
</div>
<div class="modal-delete">
  <div class="modal-body-delete">
    <div class="delete">
      <form id="deleteForm" method="get">
        <div>게시글을 정말 삭제하시겠습니까?</div>
        <button type="submit">삭제</button>
        <button type="button" class="cancel-btn">취소</button>
      </form>
    </div>
  </div>
</div>
<div class="modal">
  <div class="modal-body">
    <div class="close-wrapper">
      <span class="material-symbols-outlined"> disabled_by_default </span>
    </div>
    <div class="menu-line"></div>
    <div class="one-comment" th:each="commentRes : ${getCommentListRes}">
      <div class="modify-delete-wrapper">
        <button type="button" class="user-profile">
              <span class="material-symbols-outlined" style="font-size: 35px">
                account_circle
              </span>
        </button>
        <button type="button" class="modifyComment" th:attr="data-commentId=${commentRes.getCommentId()}">
          <span class="material-symbols-outlined">edit</span>
        </button>
        <button type="button" class="deleteComment" th:attr="data-commentId=${commentRes.getCommentId()}">
          <span class="material-symbols-outlined">do_not_disturb_on</span>
        </button>
      </div>
      <div class="comment-content-wapper">
        <div class="comment-content" th:text="${commentRes.getContent()}"></div>
      </div>
      <div class="comment-createdAt" th:text="${#temporals.format(commentRes.getCreatedAt(), 'yyyy-MM-dd a hh:mm')}"></div>
      <div class="menu-line"></div>
    </div>
    <div class="create-comment-wrapper">
      <form class="create-comment" th:action="@{/comments/create/{postId}(postId=${getPostRes.getPostId()})}" method="post" th:object="${createCommentRequest}">
        <label th:for="content"></label>
        <textarea
                th:field="*{content}"
                rows="4"
                cols="50"
                class="comment-content"
        ></textarea>
        <button type="submit" class="comment-submit">등록</button>
      </form>
    </div>
  </div>
</div>
<div class="modal-modify-comment">
  <div class="modal-body-modify">
    <div class="modify">
      <form id="modifyForm-comment" method="post" th:object="${updateCommentRequest}">
        <label th:for="newName">댓글 내용을 수정해주세요.</label><br>
        <textarea th:field="*{content}" rows="4" cols="50"></textarea><br>
        <button type="submit">수정</button>
        <button type="button" class="cancel-btn">취소</button>
      </form>
    </div>
  </div>
</div>
<div class="modal-delete-comment">
  <div class="modal-body-delete">
    <div class="delete">
      <form id="deleteForm-comment" method="get">
        <div>댓글을 삭제하시겠습니까?</div>
        <button type="submit">삭제</button>
        <button type="button" class="cancel-btn">취소</button>
      </form>
    </div>
  </div>
</div>
<header>
  <div class="nav-wapper">
    <button class="nav" onclick="redirectToHome()">
      <span class="material-symbols-outlined"> home </span>
      <span class="word">home</span>
    </button>
    <button class="nav" onclick="redirectToBoard()">
      <span class="material-symbols-outlined"> dashboard </span>
      <a class="word">board</a>
    </button>
    <button class="nav">
      <span class="material-symbols-outlined"> person </span>
      <a class="word">my page</a>
    </button>
  </div>
  <button class="comment-button">
    <span class="material-symbols-outlined" th:onclick=""> comment </span>
  </button>
</header>
<div class="container">
  <div class="create-time-post" th:text="${#temporals.format(getPostRes.getPostCreatedAt(), 'yyyy-MM-dd a hh:mm')}"></div>
  <div class="planner-wrapper">
    <div class="util-wrapper">
      <div class="create-time-planner" th:text="${#temporals.format(getPostRes.getPlannerCreatedAt(), 'yyyy년 MM월 dd일 (E)')}"></div>
      <div class="modify-delete-wrapper">
        <button type="button" class="modifyBoard" th:attr="data-boardid=${getPostRes.getPostId()}"><span
                class="material-symbols-outlined">edit</span></button>
        <button type="button" class="deleteBoard" th:attr="data-boardid=${getPostRes.getPostId()}"><span
                class="material-symbols-outlined">do_not_disturb_on</span></button>
      </div>
    </div>

    <div class="studyTime-task-wrapper">
      <div class="study-timer-in-wapper">
        <div class="study-time">공부시간</div>
        <div class="study-timer" th:text="${getPostRes.getStudyTime()}"></div>
      </div>
      <div class="today-task-wapper">
        <div class="today">
          <span class="material-symbols-outlined"> description </span>
          <div class="word">TODAY</div>
        </div>
        <div th:each="task : ${getPostRes.getTasks()}" class="one-task-wapper">
          <div class="task-status">
                    <span class="material-symbols-outlined"
                          th:style="${task.taskStatus.name() == 'NOT_STARTED' ? 'color: red; font-weight: bold' : (task.taskStatus.name() == 'IN_PROGRESS' ? 'color: #ffd600; font-weight: bold' : 'color: #05ff00; font-weight: bold')}"
                          th:text="${task.taskStatus.name() == 'NOT_STARTED' ? 'close' : (task.taskStatus.name() == 'IN_PROGRESS' ? 'change_history' : 'circle')}">
        </span>
          </div>
          <div class="task-content" th:text="${task.content}"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="post-content-wrapper">
    <div class="post-content" th:text="${getPostRes.getContent()}">게시물 내용</div>
  </div>
</div>
</body>
</html>